{% extends "home.html" %}
{% load static%}



{% block content %}
<link rel="stylesheet" href="{% static 'css/resetP.css' %}">
<h2 class="bg-warning text-center">Şifre Sıfırlama Sayfası</h2>
{% if request.session.user_id %}
<form class="container" method="POST">
    <input type="hidden" name='form_type' value="reset-password">

    {% csrf_token %}
    
    <input type="text" name="username" placeholder="Kullanıcı Adı" required>
    <input type="text" name="user_mail" placeholder="Mail Adresi" required>
    <input type="text" name="password" placeholder="Parola" required>
    <input type="text" name="re-password" placeholder="Parola Tekrarı" required>
    
    <button type="submit" class="btn btn-primary">Şifreyi Sıfırla</button>

    {% if message %}
        <h2 class="bg-success text-center">{{message}}</h2>
    {% endif %}
</form>
{% endif %}
{% endblock content %}
